ion-content{
    --background: url(/assets/fondomas.jpg) ;
    --background-repeat: no-repeat;
    --background-position: center center;
    
}

.card  {
    background-color: white; // black
    box-shadow: none;
}

