<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>    
    </ion-buttons>
    <ion-title>Portal Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list >
     <ion-item translucent >
       <ion-avatar slot="start">
        <img src="./assets/avatar13_big.png" >
       </ion-avatar>
       <ion-label>Hola! {{email}}</ion-label>
     </ion-item>
  </ion-list>
  
  
    
  <ion-button (click)=" logout()" expand="block" fill="outline" size="small">Desconectar
    <ion-icon name="log-out-outline" slot="end"></ion-icon>
  </ion-button>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon md="caret-up" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" [routerLink]="['/opcionq']">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" [routerLink]="['/home']">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-card color="dark" class="ion-margin-top">
    <ion-card-header>
      <ion-card-title   class="ion-text-center">Bienvenido a tu aplicacion Duoc Uc</ion-card-title>
     
    </ion-card-header>
  
    
    <ion-card-content class="ion-text-center" >
      Te damos la bienvenida a tu nueva aplicacion Duoc Uc.
      Aqui podras tomar tu asistencia para tus asignaturas de manera mas rapida.
    
    </ion-card-content>
    <ion-button  shape="round" color="light" expand="block" >
      <ion-icon name="arrow-down-outline"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card color="dark" class="ion-margin-top">
    <img src="./assets/codigo-qr-foto.jpeg" />
    <ion-card-header>
      <ion-card-subtitle >Asistencia</ion-card-subtitle>
      <ion-card-title>Ahora asistencia con codigo QR</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lee acerca de las principales novedades que te traemos con esta nueva actualziacion de la aplicacion de asistencia duoc uc.
      <ion-button class="ion-margin-top" size="small" color="warning" expand="block">Ir
        <ion-icon name="arrow-redo-outline"></ion-icon>      
      </ion-button>
    </ion-card-content>
    
  </ion-card>

<ion-card color="dark" class="ion-margin-top">
    <img src="./assets/alumnos.jpeg" />
    <ion-card-header>
      <ion-card-subtitle>Blog estudiantil</ion-card-subtitle>
      <ion-card-title>Echale un vistazo a la comunidad</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lee acerca de las principales novedades que te traemos con esta nueva actualziacion de la aplicacion de asistencia duoc uc.
      <ion-button class="ion-margin-top" size="small" color="warning" expand="block">Ir
        <ion-icon name="arrow-redo-outline"></ion-icon>      
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark" class="ion-margin-top">
    <img src="./assets/contactofoto.png" />
    <ion-card-header>
      <ion-card-subtitle>Contacto</ion-card-subtitle>
      <ion-card-title>Habla con tu Coordinador</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Si deseas solucionar algun problema no dudes en enviar un correo electronico a tu coordinador de carrera.
      <ion-button class="ion-margin-top" size="small" color="warning" expand="block">Ir
        <ion-icon name="arrow-redo-outline"></ion-icon>      
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

